        /*Universal adjustments*/

html{
    font-family: "Special Elite", system-ui;
    min-height: 100vh;
    background-color: rgb(42, 56, 43);
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}


        /*Hero and navigation*/

body{
    margin: 0;
}
.hero{
    background-color: rgb(93, 112, 75);
    color: black;
    min-height: 35vh;
}
.topBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
}
.topBarContent{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
h1{
    padding-left: 3rem;
}
.jens{
    color: rgb(214, 212, 212);
}
.heroText{
    padding-left: 3.5rem;
    padding-right:2rem;
    padding-bottom: 2rem;
}

        /*Main scroll content handling*/

main{
    color: rgb(214, 212, 212);
}
time{
    opacity: 70%;
}
h2{
    margin-top: 0;
    text-decoration: underline;
    text-decoration-color: rgb(93, 112, 75);
}
article{
    padding-top: 1rem;
    padding-bottom: 10vh;
    padding-left: 2rem;
    padding-right: 2rem;
}
.horizontalList{
    display: flex;
    gap: 1.5rem;
}

        /*Image handling*/

.overlay{
    position: fixed;
}
.pos1{
    bottom: 0rem;
}
.pos2{
    bottom: 6rem;
    right: 0;
    opacity: 50%;
}
@media (max-width: 520px){
    .pos2{
        opacity: 0%;
    }
    .pos1{
        opacity: 20%;
    }
}